<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= current_page.data.title%></title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "bootstrap.min", "font-awesome.min", "nivo-lightbox", "nivo_themes/default/default", "templatemo-style" %>

	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
	
<!-- navigation -->

<div class="container">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand"><img src="images/OverlordBot-128.png" class="img-responsive" alt="OverlordBot Logo"></a>
			<h1>OverlordBot</h1>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="index.html">HOME</a></li>
				<li><a href="getting-started.html">GETTING STARTED</a></li>
				<li><a href="awacs.html">AWACS</a></li>
				<li><a href="atc.html">ATC</a></li>
				<li><a href="server-admin.html">SERVER ADMIN</a></li>
				<li><a href="developer.html">DEVELOPER</a></li>
			</ul>
		</div>
	</div>
</div>


<%= yield %>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<img src="images/OverlordBot-128.png" class="img-responsive" alt="OverlordBot Logo">
			</div>

			<div class="col-md-3 col-sm-4">
				<h3>Useful Links</h3>
				<p><a href="https://discord.gg/9RqyTJt">Discord Server</a></p>
				<p><a href="https://gitlab.com/overlordbot">Source Code</a></p>				
			</div>
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2021 RurouniJones</p>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "jquery", "bootstrap.min", "nivo-lightbox.min", "custom" %>
</body>
</html>